
<section class="min-h-full flex justify-center bg-gray-200">
  <div class="container contain  py-6 px-6 ">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="xl:w-10/12">
        <div class="block bg-white shadow-lg rounded-lg">
          <div class="lg:flex lg:flex-wrap g-0">
            <div class="lg:w-6/12 px-4 md:px-0">
              <div class="md:p-12 md:mx-6">
                <div class="text-center">
                  <h4 style="background-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;" class="text-xl font-semibold mt-1  pb-4">Edit profile</h4>
                </div>

                <% if(messages.error) { %>
                  <span class="text-red-600 text-sm mx-auto text-center font-medium">
                    <%= messages.error %>
                  </span>
                <% } %>
              


                <form action="/editUserProfile" method="post">


                  <div class="mb-4">
                    <label for="name" class="pl-1 text-xs text-gray-400">Name</label>
                    <input readonly
                      type="text"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="emob" value="<%= user.fname + '' + user.lname %>"
                      placeholder="Name"
                    />
                  </div>

                  <div class="mb-4">
                    <label for="emob" class="pl-1 text-xs text-gray-400">Phone</label>
                    <input readonly
                      type="text"
                      name="phone"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="emob" value="<%= user.phone%>"
                      placeholder="Phone"
                    />
                  </div>

                  <div class="mb-4">
                    <label for="email" class="pl-1 text-xs text-gray-400">Email</label>
                    <input readonly
                      type="email"
                      name="email"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="email" value="<%= user.email%>"
                      placeholder="Email"
                    />
                  </div>

                  <div class="mb-4">
                    <label for="iname" class="pl-1 text-xs text-gray-400">Institution Name</label>
                    <input
                      type="text"
                      name="institutionName"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="iname" value="<%= user.institutionName%>"
                      placeholder="Institution Name"
                    />
                  </div>

                  <input type="hidden" name="id" value="<%= user.id%>"> <span></span>

                  <div class="mb-4">
                    <label for="desig" class="pl-1 text-xs text-gray-400">Designation</label>
                    <input
                      type="text"
                      name="designation"
                      class="form-control block w-full px-2 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="desig" value="<%= user.designation %>"
                      placeholder="Designation"
                    />
                  </div>
                  <div class="mb-4">
                    <label for="address" class="pl-1 text-xs text-gray-400">Address</label>
                    <input
                      type="text"
                      name="address"
                      readonly
                      value="<%= user.address %>"
                      class="form-control h-12 block w-full px-2 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="address"
                      placeholder="Address"
                    />
                  </div>
                  <div class="text-center pt-1 mb-6 pb-1">
                    <button
                      class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                      type="submit"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                      style="
                        background: linear-gradient(
                          to right,
                          #ee7724,
                          #d8363a,
                          #dd3675,
                          #b44593
                        );
                      "
                    >
                      Save & Continue
                    </button>
                    
                  </div>
                
                </form>
              </div>
            </div>
            <div
              class="lg:w-6/12 flex items-center w-full lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
              style="
                background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
              ">
              <div class="text-white px-4 py-6 md:p-12 md:mx-6 w-full ">
                <h4 class="text-xl  font-semibold mb-6">Profile Photo</h4>
                <div class="mb-4 w-full flex justify-center">
                   
                    <img id="userAvatar" src="/img/melchor.webp" class="w-20 md:w-full h-auto rounded-full" alt="" />
                    
                  </div>
                  <!-- <div class="flex justify-around w-full">
                  <button class="bg-white  h-8 md:h-10 hover:bg-gray-100 text-gray-800 font-semibold px-4 sm:px-6 border border-gray-400 rounded shadow">
                    Edit
                   </button>
                   <button id="removeAvatar" class="bg-white  h-8 md:h-10 hover:bg-gray-100 text-gray-800 font-semibold px-4 border sm:px-6  border-gray-400 rounded shadow">
                   Remove
                   </button>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
    $("#removeAvatar").click(function() {
      $("#userAvatar").attr("src", "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png");
    });
  });

</script>

