<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-X6CR9V89JR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-X6CR9V89JR');
  </script> -->

  <!-- Combination of 3 27-09-2022 -->
  <!-- Google Tag Manager -->
  <!-- <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N9BPT39');</script> -->
  <!-- End Google Tag Manager -->



  <!-- Global site tag (gtag.js) - Google Ads: 10849382763 -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10849382763"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-10849382763');
  </script>
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "dfr3f448oi");
  </script> -->

  <!-- Event snippet for Website sale (1) conversion page -->
  <!-- <script> gtag('event', 'conversion', { 'send_to': 'AW-10849382763/4TwPCLPMtd8DEOvisbUo', 'transaction_id': '' }); </script> -->



  <meta charset="UTF-8" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% var title; var description; %>

    <meta name="title" content="<%= title ? title  : 'Eqipped | Get Your Lab Equipped' %>" />
    <meta name="description"
      content="<%= description ? description  : 'Eqipped, India&#039;s best growing online B2B marketplace. We have a wide range of high quality products that are sourced from our global network of trusted suppliers.' %>" />

    <meta name="keywords"
      content="Eqipped, laboratory equipment, laboratory supplies, laboratory products, medical Instruments.">

    <meta name="publisher" content="Eqipped">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Eqipped - Best Deals on Laboratory Equipments" />
    <meta property="og:description"
      content="Eqipped is online B2B Market, Best Deals, Buy & Sell Lab Supplies Online, Deal on High Quality Products at Best Prices" />
    <meta property="og:url" content="https://eqipped.com/" />
    <meta property="og:site_name" content="Eqipped" />
    <meta property="og:image" content="https://eqipped.com/img/NavLogoC-1.webp" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="3 minutes" />
    <link rel="icon" type="image/x-icon" href="/img/icons/fav2.svg">


    <link rel="canonical" href="https://eqipped.com/" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/tailwindstyles.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link  rel="stylesheet" href="/css/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   


    <!----===== Google fonts ===== -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat+Alternates:wght@200&family=Poiret+One&display=swap"
      rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet">
    <!----===== line-awesome CSS ===== -->

    <!----===== Boxicons CSS ===== -->
    <link rel="preload" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
      


    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script  src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>

    <!-- autocomplete jquery for search-bar  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <!-- <script  src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
    <!-- <script  src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script> -->

    <title>
      <%= title ? title : 'Eqipped | Get Your Lab Equipped' %>
    </title>

</head>


<body>
  <script type="module">
    import { partytownSnippet } from '@builder.io/partytown/integration';
    const snippetText = partytownSnippet();
    const el = document.createElement('script');
    el.innerHTML = snippetText;
    document.body.appendChild(el);
  </script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9BPT39" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <% if(user) { %>
    <nav class="sidebar close">
      <header>
        <div id="screenSidebarIcon" class="toggle"></div>
      </header>
      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li id="navhome" class="nav-link ">
              <a href="/home" data-bs-toggle="tooltip" data-bs-placement="right" title="Home">
                <iconify-icon icon="bx:home" class="icon"></iconify-icon>
                <span class="text nav-text">Home</span>
              </a>
            </li>
            <li id="navcart" class="nav-link">
              <a href="/cart" data-bs-toggle="tooltip" data-bs-placement="right" title="Cart">
                <span id="cartCounter" class="font-bold icon">
                  <% if(user.cart.length> 0){ %>
                    <super><span id="cartcount"><i class="fa fa-circle"
                          style="font-size: 10px;color: orange"></i></span></super>
                    <% } %>
                      <iconify-icon icon="akar-icons:cart" class="ico"></iconify-icon>
                </span>
                <span class="text nav-text">Cart</span>
              </a>
            </li>
            <li id="navorder" class="nav-link">
              <a id="ordercount" href="/customer/orders" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Orders">
                <iconify-icon icon="bi:view-list" class="icon"></iconify-icon>
                <span class="text nav-text">Orders &
                  More</span>
              </a>
            </li>
            <% if(user.role=='vendor' ) { %>
              <li id="nav-popbutton" class="nav-link ">
                <a href="/vendor/notify" data-bs-toggle="tooltip" data-bs-placement="right" title="Notifications">
                  <iconify-icon icon="akar-icons:bell" class="icon"></iconify-icon>
                  <span class="text nav-text">Notifications</span>
                </a>
              </li>
              <% } %>
                <% if(user.role=='admin' ) { %>
                  <li id="nav-popbutton" class="nav-link ">
                    <a href="/vendor/notify" data-bs-toggle="tooltip" data-bs-placement="right" title="Notifications">
                      <iconify-icon icon="akar-icons:bell" class="icon"></iconify-icon>
                      <span class="text nav-text">Notifications</span>
                    </a>
                  </li>
                  <% } %>
                    <% if(user.role=='customer' ) { %>
                      <li id="nav-popbutton" id="nav-popbutton" class="nav-link">
                        <a href="/home" data-bs-toggle="tooltip" data-bs-placement="right" title="Notifications">
                          <iconify-icon icon="akar-icons:bell" class="icon"></iconify-icon>
                          <span class="text nav-text">Notifications</span>
                        </a>
                      </li>
                      <% } %>
                        <% if(user.role=='admin' ) { %>
                          <li id="navadmindash" class="nav-link">
                            <a href="/adminpanel" data-bs-toggle="tooltip" data-bs-placement="right"
                              title="Admin Dashboard">
                              <iconify-icon icon="akar-icons:dashboard" class="icon"></iconify-icon>
                              <span class="text nav-text">Admin Dashboard</span>
                            </a>
                          </li>
                          <% } %>
                            <% if(user.role=='vendor' && user.role!='admin' ) { %>
                              <li id="navaddprod" class="nav-link">
                                <a href="/addproduct" data-bs-toggle="tooltip" data-bs-placement="right"
                                  title="Add Product">
                                  <iconify-icon icon="ant-design:file-add-outlined" class="icon"></iconify-icon>
                                  <span class="text nav-text">Add Product</span>
                                </a>
                              </li>
                              <li id="naveditprod" class="nav-link">
                                <a href="/vendor/listedProduct" data-bs-toggle="tooltip" data-bs-placement="right"
                                  title="Edit Product">
                                  <iconify-icon icon="akar-icons:edit" class="icon"></iconify-icon>
                                  <span class="text nav-text">Edit Product</span>
                                </a>
                              </li>
                              <% } %>
                                <% if( user.role!='admin' ) { %>
                                  <li id="navver" class="nav-link">
                                    <a href="/verification" data-bs-toggle="tooltip" data-bs-placement="right"
                                      title="Verification">
                                      <iconify-icon icon="uiw:verification" class="icon"></iconify-icon>
                                      <span class="text nav-text">Verification</span>
                                    </a>
                                  </li>
                                  <% } %>
                                    <li id="navfav" class="nav-link">
                                      <a href="/favourite" data-bs-toggle="tooltip" data-bs-placement="right"
                                        title="Favourite">
                                        <iconify-icon icon="akar-icons:heart" class="icon"></iconify-icon>
                                        <span class="text nav-text">Favourite</span>
                                      </a>
                                    </li>
                                    <% if(user.role=='vendor' ) { %>
                                      <li id="navvendordash" class="nav-link">
                                        <a href="/vendordashboard" data-bs-toggle="tooltip" data-bs-placement="right"
                                          title="Vendor Dashboard">
                                          <iconify-icon icon="akar-icons:dashboard" class="icon"></iconify-icon>
                                          <span class="text nav-text">Vendor Dashboard</span>
                                        </a>
                                      </li>
                                      <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <section class="home">
      <% } %>


        <% var MarqueData 
        if(MarqueData){ %>
          <marquee scrollamount="5" behavior="" class="text-white bg-indigo-500 text-sm p-1" direction="">
            <% MarqueData.forEach((marque)=>{ %>
              <span class="mx-8">
                <%= marque.content1 %>
              </span>
              <span>
                <%= marque.content2 %>
              </span>
              <span class="mx-8">
                <%= marque.content3 %>
              </span>
              <% }) %>
          </marquee>
          <% } %>


            <section class="cherry shadow-sm bg-white border-gray-200 px-2 sm:px-8 py-2 sm:py-2.5 rounded">
              <% if(user) {%>
                <div class="container flex flex-wrap justify-between items-center mx-auto">
                  <a href="/home" class="flex items-center sm:ml-8">
                    <img src="/img/NavLogoC-1.webp" class="ml-4 h-10 sm:h-14" alt="Eqipped Logo">
                  </a>
                  <% } %>

                    <% if(!user) {%>
                      <div class="flex justify-between px-4 sm:container sm:px-20 items-center mx-auto">
                        <div>
                          <a href="/" class="">
                            <img src="/img/NavLogoC-1.webp" class="mr-0 h-10 sm:h-14" alt="Equipped Logo">
                          </a>
                        </div>
                        <% } %>


                          <% if(user) { %>
                            <div class="ml- flex items-center md:order-2">
                              <button data-collapse-toggle="mobile-menu-2" type="button"
                                class="inline-flex md:hidden items-center p-2 mr-9 text-sm text-gray-500 rounded-full border bg-gray-100 focus:outline-none focus:ring-1 focus:ring-gray-100 "
                                aria-controls="mobile-menu-2" aria-expanded="false">
                                <span class="sr-only">Open main menu</span>
                                <i style="font-size: 20px;" class="fa fa-search" aria-hidden="true"></i>
                                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd"
                                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                    clip-rule="evenodd"></path>
                                </svg>
                                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                                </svg>
                              </button>
                              <div class="sm:mr-10 flex justify-center items-center space-x-3 cursor-pointer">
                                <button id="dropdownButton" data-dropdown-toggle="dropdown"
                                  class="w-10 h-10  sm:w-14 sm:h-14 rounded-full overflow-hidden border "
                                  type="button"><img class="w-full h-full object-cover" src="/img/melchor1.jpg"
                                    alt="user photo">
                                </button>
                              </div>
                              <div id="dropdown"
                                class="hidden z-10 text-base list-none bg-white rounded-lg divide-y divide-gray-100 shadow-2xl border w-48 px-5 py-3">
                                <ul class="space-y-3 py-1" aria-labelledby="dropdownButton">
                                  <li class="font-medium pt-1">
                                    <a href="#"
                                      class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                                      <div class="mr-3">
                                        <img class="w-6 h-6 object-cover" src="/img/melchor1.jpg" alt="user photo">
                                      </div>
                                      <div>
                                        <span>
                                          <%= user.fname %>
                                        </span>
                                        <!-- <% if(user.isverified =='Yes' ) { %> <img src="https://img.icons8.com/material-outlined/24/000000/verified-account.png"/><% } %>  --><br>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="font-medium py-2">
                                    <a href="/editUserProfile/<%= user._id %>"
                                      class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
                                      <div class="mr-3">
                                        <img class="w-6 h-6 object-cover" src="/img/edit-profile.webp"
                                          alt="edit profile">
                                      </div>
                                      Edit Profile
                                    </a>
                                  </li>
                                  <hr class="">
                                  <li class="font-medium">
                                    <form id="logout" action="/logout" method="POST">
                                      <a href="#" onclick="document.getElementById('logout').submit()"
                                        class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-red-600">
                                        <div class="mr-3 text-red-600">
                                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                                            </path>
                                          </svg>
                                        </div>
                                        Logout
                                      </a>
                                    </form>
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1"
                              id="mobile-menu-2">
                              <ul class="flex justify-center"
                                class="flex flex-col mt-8 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                                <li class="hidden sm:block">
                                  <a href="/allcategory" class="block font-bold py-5 md:py-2 pr-4 pl-3">All
                                    Categories</a>
                                </li>
                                <li class="px-2">
                                </li>
                              </ul>
                              <div id="container" style="margin: 15px;">
                                <div class="search-oyo flex justify-center">
                                  <form action="/allcategory/products">
                                    <input type="text" id="searchProduct" required placeholder="Search..." name="search"
                                      class="searchbar" onkeyup="sendData(this)">
                                    <button type="submit" id="submitSearch" class="search_button"><i class="fa fa-search"></i></button>
                                    <section class="absolute z-10 bg-white rounded" id="searchResults"> </section>
                                  </form>
                                </div>
                              </div>

                              <!-- <span class="ml-8"><a href="/cart">Cart hai apun</a></span> -->
                            </div>
                            <% } else { %>

                              <!-- <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1"
                              id="mobile-menu-2"> -->

                              <div id="container" class="hidden md:block" style="margin: 15px;">
                                <div class="search-oyo flex justify-center">
                                  <form action="/allcategory/products">
                                    <input type="text" id="searchProduct" required placeholder="Search..." name="search"
                                      class="searchbar" onkeyup="sendData(this)">
                                    <button type="submit" id="submitSearch" class="search_button"><i class="fa fa-search"></i></button>
                                    <section class="absolute z-10 bg-white rounded" id="searchResults"> </section>
                                  </form>
                                </div>
                              </div>
                              <ul class="flex justify-center">
                                <li class="font-bold">
                                  <a href="/register">Register </a>
                                  <a class="cursor-pointer px-4 py-2 ml-8 rounded-md text-white text-sm font-bold btn-primary"
                                    href="/login">Login</a>
                                </li>
                              </ul>

                            <!-- </div> -->


                            
                              <% } %>
            </section>


            <div id="nav-popover" style="display: none;"
              class=" border z-50 rounded-lg  shadow bg-white h-64 w-40 absolute left-3 top-48">
              <div class="p-10">
                <p>harsh</p>
                <p>harsh</p>

              </div>
            </div>






            <%-body%>

              <!-- NewsLetter -->

              <% if(!user){ %>
                <div class="css-7i87rc">
                  <div class="css-1og3j6c">
                    <div class="css-1fnke7h">
                      <div class="css-dkuf28 flex"><i class="mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="22"
                            height="16" viewBox="0 0 22 16">
                            <title>Envelope icon</title>
                            <path fill="#FFF" fill-rule="nonzero"
                              d="M0 0v1.294C2.952 3.87 9.034 9.18 9.532 9.618c.62.545 1.233.604 1.468.604.235 0 .848-.058 1.468-.603.48-.422 6.357-5.604 9.532-8.405V0H0zm22 2.222c-3.261 2.912-8.504 7.593-8.956 7.995-.843.75-1.71.832-2.044.832-.334 0-1.201-.081-2.044-.833C8.488 9.8 3.099 5.037 0 2.298V16h22V2.222z">
                            </path>
                          </svg></i>Get special discount on your inbox</div>
                      <form class="css-11w877a grid grid-cols-3"><input type="email" class="input col-span-2"
                          placeholder="Your Email" value=""><button type="submit" class="submit-button ">Send</button>
                      </form><span class="error-message"></span>
                    </div>
                    <div id="noMobile" class="css-wmf3l9 hidden sm:block ">
                      <div class="css-1jsubav float-left"><svg class="phone-icon" xmlns="http://www.w3.org/2000/svg"
                          width="24" height="24" viewBox="0 0 30 30">
                          <path fill="#FFF"
                            d="M24.02 30h-.03c-5.01-.164-10.88-5.02-14.925-9.068C5.015 16.885.16 11.013.003 6.026c-.058-1.75 4.237-4.862 4.28-4.893 1.115-.776 2.352-.5 2.86.203.344.476 3.6 5.409 3.953 5.969.368.58.313 1.445-.145 2.312-.253.482-1.092 1.956-1.485 2.643.425.605 1.547 2.086 3.865 4.404 2.32 2.318 3.8 3.443 4.406 3.867.687-.393 2.161-1.232 2.643-1.484.854-.453 1.714-.51 2.3-.151.599.367 5.518 3.638 5.971 3.953.38.268.625.727.675 1.26.046.54-.12 1.11-.467 1.607-.028.042-3.104 4.284-4.838 4.284z">
                          </path>
                        </svg></div>
                      <div class="media-body float-right">
                        <p class="css-ig8bpr">for any help you may call us at <br>
                          + 91-9358011138</p>
                        <div>(Monday to Saturday, 10AM to 7PM )</div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>



                  <footer class="bottom-0">

                    <div class="px-4 divide-y bg-gray-100 w-full ">
                      <div class=" container
        flex
        flex-col
        justify-between
        py-5
        mx-auto
        space-y-4
        lg:flex-row lg:space-y-0 ">
                        <div class="lg:w-1/5">
                          <a rel="noopener noreferrer" href="#" class="flex justify-center space-x-3 lg:justify-start">
                            <div class="
          flex
          items-center
          justify-center
          rounded-full
         
        ">
                              <img src="/img/NavLogoC-1.webp" class="mb-2 h-12" alt="Eqipped Logo" />
                            </div>
                          </a>
                        </div>



                        <div class="
      grid grid-cols-1
      
      text-sm relative  sm:left-0
      lg:w-3/5
      gap-x-1 gap-y-8
      sm:grid-cols-4
    ">



                          <div class="space-y-3 text-center md:text-left">
                            <h2 class="text-xl font-bold mb-2">Company</h3>
                              <ul class="space-y-1 list-none footer-links">

                                <li class="mb-2">
                                  <a href="/privacy-policy#about-us" class="
              border-b border-solid border-transparent
              hover:border-black hover:text-orange-800
            ">About Us</a>
                                </li>

                                <li class="mb-2">
                                  <a href="/privacy-policy#tnc" class="
              border-b border-solid border-transparent
              hover:border-black hover:text-orange-800
            ">Terms & conditions</a>
                                </li>

                                <li class="mb-2">
                                  <a href="/privacy-policy#privacy" class="
              border-b border-solid border-transparent
              hover:border-black hover:text-orange-800
            ">Privacy & Policy</a>
                                </li>
                                <li class="mb-2">
                                  <a href="/privacy-policy#shipping" class="
              border-b border-solid border-transparent
              hover:border-black hover:text-orange-800
            ">Shipping & Returns</a>
                                </li>
                                <li class="mb-2">
                                  <a href="/careers" class="
              border-b border-solid border-transparent
              hover:border-black hover:text-orange-800
            ">Careers</a>
                                </li>
                              </ul>
                          </div>

                          <div class="space-y-3 text-center sm:text-left">
                            <h2 class="text-xl font-bold mb-2">Products</h3>
                              <ul class="space-y-1 list-none footer-links">
                                <li class="mb-2">
                                                                        <a href="/Category/Plasticware/624e86f68964e0a947f59e02/1" class="
                                                        border-b border-solid border-transparent
                                                        hover:border-black hover:text-orange-800
                                                      ">Plasticware</a>
                                                                      </li>
                                                                      <li class="mb-2">
                                                                        <a href="/Category/Chemicals/624e86f68964e0a947f59e03/1" class="
                                                        border-b border-solid border-transparent
                                                        hover:border-black hover:text-orange-800
                                                      ">Chemicals</a>
                                                                      </li>
                                                                      <li class="mb-2">
                                                                        <a href="/Category/Equipments/62d905ad195457310dc16d1f/1" class="
                                                        border-b border-solid border-transparent
                                                        hover:border-black hover:text-orange-800
                                                      ">Equipments</a>
                                                                      </li>
                                                                      <li class="mb-2">
                                                                        <a href="/Category/Glassware/624e86f68964e0a947f59e04/1" class="
                                                        border-b border-solid border-transparent
                                                        hover:border-black hover:text-orange-800
                                                      ">Glassware</a>
                                                                      </li>
                                                                      <li class="mb-2">
                                                                        <a href="/Category/Instruments/624e86f68964e0a947f59e00/1" class="
                                                        border-b border-solid border-transparent
                                                        hover:border-black hover:text-orange-800
                                                      ">Instruments</a>
                                </li>
                              </ul>
                          </div>

                          <div class="hidden sm:block space-y-3 text-center sm:text-left">
                            <h2 class="text-xl font-bold mb-2 md:pr-6">Contact Us</h3>
                              <!-- <ul class="space-y-1 list-none footer-links text-center"> -->
                              <ul class="flex flex-col py-3">

                                <li class="flex mb-2">
                                  <a href="https://wa.me/919358011138" target="_blank"
                                    class="flex items-center justify-cente md:justify-start border-b w-full border-solid border-transparent hover:text-orange-800">
                                    <span class="mr-2"> <i style="font-size: 25px;" class='bx bxl-whatsapp'></i>
                                    </span><span> + 91-9358011138 </span> </a>
                                </li>


                                <li class="mb-2 flex flex-col justify-center">
                                  <a
                                    class="flex justify-cente md:justify-start border-b border-solid border-transparent hover:text-orange-800">
                                    <span class="mr-3"><i style="font-size: 18px;" class="fa fa-phone"
                                        aria-hidden="true"></i></span>
                                    <span class="ml-1"> + 91-9358011138 </span> </a>
                                </li>


                                <li class="mt- flex flex-col justify-center">
                                  <a href="https://mail.google.com/mail/u/4/#inbox?compose=CllgCJqbQRWkdCFDltvGRrbNPCGvTzcrwJSMlCvPkMKPkvwJmlGWrfJfLnrlfJdTDkxRccqrSNq"
                                    target="_blank"
                                    class="flex justify-cente md:justify-start border-b border-solid border-transparent hover:text-orange-800">
                                    <span class="mr-4"> <i style="font-size: 20px;" class="fa fa-envelope"
                                        aria-hidden="true"></i></span>
                                    <span> gearloose.lab@gmail.com </span> </a>
                                </li>
                              </ul>
                          </div>
                          <div class="space-y-3 text-center">
                            <div class="text-xl font-bold mb-2">Social media</div>
                            <div class="flex justify-center space-x-3">
                              <a rel="noopener noreferrer" href="#" title="Facebook" class="flex items-center p-1 hover:text-orange-800">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32"
                                  class="black-5 h-5 fill-orange">
                                  <path
                                    d="M32 16c0-8.839-7.167-16-16-16-8.839 0-16 7.161-16 16 0 7.984 5.849 14.604 13.5 15.803v-11.177h-4.063v-4.625h4.063v-3.527c0-4.009 2.385-6.223 6.041-6.223 1.751 0 3.584 0.312 3.584 0.312v3.937h-2.021c-1.984 0-2.604 1.235-2.604 2.5v3h4.437l-0.713 4.625h-3.724v11.177c7.645-1.199 13.5-7.819 13.5-15.803z">
                                  </path>
                                </svg>
                              </a>
                              <a rel="noopener noreferrer" href="https://twitter.com/eqipped_" target="_blank" title="Twitter"
                                class="flex items-center p-1 hover:text-orange-800">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current">
                                  <path
                                    d="M23.954 4.569a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.061a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.937 4.937 0 004.604 3.417 9.868 9.868 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 002.46-2.548l-.047-.02z">
                                  </path>
                                </svg>
                              </a>
                              <a rel="noopener noreferrer" href="https://www.instagram.com/eqipped/" target="_blank"
                                title="Instagram" class="flex items-center p-1 hover:text-orange-800">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor"
                                  class="w-5 h-5 fill-current">
                                  <path
                                    d="M16 0c-4.349 0-4.891 0.021-6.593 0.093-1.709 0.084-2.865 0.349-3.885 0.745-1.052 0.412-1.948 0.959-2.833 1.849-0.891 0.885-1.443 1.781-1.849 2.833-0.396 1.020-0.661 2.176-0.745 3.885-0.077 1.703-0.093 2.244-0.093 6.593s0.021 4.891 0.093 6.593c0.084 1.704 0.349 2.865 0.745 3.885 0.412 1.052 0.959 1.948 1.849 2.833 0.885 0.891 1.781 1.443 2.833 1.849 1.020 0.391 2.181 0.661 3.885 0.745 1.703 0.077 2.244 0.093 6.593 0.093s4.891-0.021 6.593-0.093c1.704-0.084 2.865-0.355 3.885-0.745 1.052-0.412 1.948-0.959 2.833-1.849 0.891-0.885 1.443-1.776 1.849-2.833 0.391-1.020 0.661-2.181 0.745-3.885 0.077-1.703 0.093-2.244 0.093-6.593s-0.021-4.891-0.093-6.593c-0.084-1.704-0.355-2.871-0.745-3.885-0.412-1.052-0.959-1.948-1.849-2.833-0.885-0.891-1.776-1.443-2.833-1.849-1.020-0.396-2.181-0.661-3.885-0.745-1.703-0.077-2.244-0.093-6.593-0.093zM16 2.88c4.271 0 4.781 0.021 6.469 0.093 1.557 0.073 2.405 0.333 2.968 0.553 0.751 0.291 1.276 0.635 1.844 1.197 0.557 0.557 0.901 1.088 1.192 1.839 0.22 0.563 0.48 1.411 0.553 2.968 0.072 1.688 0.093 2.199 0.093 6.469s-0.021 4.781-0.099 6.469c-0.084 1.557-0.344 2.405-0.563 2.968-0.303 0.751-0.641 1.276-1.199 1.844-0.563 0.557-1.099 0.901-1.844 1.192-0.556 0.22-1.416 0.48-2.979 0.553-1.697 0.072-2.197 0.093-6.479 0.093s-4.781-0.021-6.48-0.099c-1.557-0.084-2.416-0.344-2.979-0.563-0.76-0.303-1.281-0.641-1.839-1.199-0.563-0.563-0.921-1.099-1.197-1.844-0.224-0.556-0.48-1.416-0.563-2.979-0.057-1.677-0.084-2.197-0.084-6.459 0-4.26 0.027-4.781 0.084-6.479 0.083-1.563 0.339-2.421 0.563-2.979 0.276-0.761 0.635-1.281 1.197-1.844 0.557-0.557 1.079-0.917 1.839-1.199 0.563-0.219 1.401-0.479 2.964-0.557 1.697-0.061 2.197-0.083 6.473-0.083zM16 7.787c-4.541 0-8.213 3.677-8.213 8.213 0 4.541 3.677 8.213 8.213 8.213 4.541 0 8.213-3.677 8.213-8.213 0-4.541-3.677-8.213-8.213-8.213zM16 21.333c-2.948 0-5.333-2.385-5.333-5.333s2.385-5.333 5.333-5.333c2.948 0 5.333 2.385 5.333 5.333s-2.385 5.333-5.333 5.333zM26.464 7.459c0 1.063-0.865 1.921-1.923 1.921-1.063 0-1.921-0.859-1.921-1.921 0-1.057 0.864-1.917 1.921-1.917s1.923 0.86 1.923 1.917z">
                                  </path>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="py-2 text-sm text-center text-gray-400">
                        © 2022 <span class="text-gray-400">Gearloose Labs 𓀀</span>





                      </div>
                    </div>
                  </footer>

    </section>
  
    <script  src="/socket.io/socket.io.js"></script>
    <script  src="/js/app.js"></script>
    <script  src="/js/owl.carousel.min.js"></script>


    <script  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script  src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

    <!--   _
       .__(.)< (MEOW)
        \___)   
 ~~~~~~~~~~~~~~~~~~-->

    <script  >


function india(aww) {
          $('#searchProduct').val(aww);
          document.getElementById("submitSearch").click()
      }

function sendData(e) {
        const searchResults = document.getElementById('searchResults')
        let match = e.value.match(/^[a-zA-Z ]*/);
        let match2 = e.value.match(/\s*/);
        if (match2[0] === e.value) {
          searchResults.innerHTML = '';
          return;
        }
        if (match[0] === e.value) {
          fetch('getProductNamesForSearch', {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ payload: e.value })
          }).then(res => res.json()).then(data => {
            let payload = data.payload;
            searchResults.innerHTML = '';
            if (payload.length < 1) {
              searchResults.innerHTML = '<p>Sorry, Nothing Found.</p>';
              return;
            }
            payload.forEach((item, index) => {
              if (index > 0) searchResults.innerHTML += '<hr>';
              searchResults.innerHTML += `<div onclick="india('${item.pname}')" class="flex px-2 cursor-pointer items-center w-28"> <img class="h-10 py-1 object-contain"
                            src="/img/${ item.image[0].imgName}" alt="${item.pname}" />
                             <span class="p-2 px-4 text-xs">${item.pname}</span></div>`
            });
          });
          return;
        }
        searchResults.innerHTML = '';
      }

      

      $(document).ready(function () {
        if (screen.width > 500) {
          $('#screenSidebarIcon').append("  <i class='bx bx-chevron-right '>");
        } else {
          $('#screenSidebarIcon').append('<svg class=" w-6 h-6" fill="currentColor" viewBox="-2.5 -2 25 25" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>');
        }
      });
      function preloadFunc() {
        const url_split = ('' + window.location).split('/');
        const ActivePage = url_split[url_split.length - 1];
        switch (ActivePage) {
          case 'home':
            $("#navhome").addClass("nav-active");
            break;
          case 'orders':
            $("#navorder").addClass("nav-active");
            break;
          case 'cart':
            $("#navcart").addClass("nav-active");
            break;
          case "favourite":
            $("#navfav").addClass("nav-active");
            break;
          case 'verification':
            $("#navver").addClass("nav-active");
            break;
          case 'notify':
            $("#nav-popbutton").addClass("nav-active");
            break;
          case 'vendordashboard':
            $("#navvendordash").addClass("nav-active");
            break;
          case 'addproduct':
            $("#navaddprod").addClass("nav-active");
            break;
          case 'listedProduct':
            $("#naveditprod").addClass("nav-active");
            break;
          default:
            break;
        }
      }
      window.onpaint = preloadFunc();
      // autocomplete script for search-bar 
      $("#nav-popbutton").hover(function () {
        // $("#nav-popover").css("display", "flex");
      }, function () {
        $("#nav-popover").css("display", "none");
      });
      $(function () {
        $('#searchProduct').autocomplete({
          source: function (req, res) {
            $.ajax({
              url: "autocomplete/",
              dataType: "jsonp",
              type: "GET",
              data: req,
              success: function (data) {
                res(data)
              },
              error: function (err) {
                console.log(err.status)
              }
            });
          },
          minLength: 1,
          select: function (event, ui) {
            if (ui.items) {
              $('#searchProduct').text(ui.item.label);
            }
          }
        });
      });
      $(document).ready(function () {
        $(".owl-carousel-big").owlCarousel({
          loop: true,
          responsiveClass: true,
          responsive: {
            0: {
              items: 2.3,
              nav: false
            },
            600: {
              items: 3.1,
              nav: false
            },
            1000: {
              items: 4.8,
              nav: false,
              loop: true
            }
          }
        });
      });
    </script>
</body>

</html>
