<section class="container mx-auto p-8 border flex flex-wrap justify-around ">



  <div class="container mx-auto">
    <div class="min-w-full border rounded lg:grid lg:grid-cols-3">
      <div class="border-r border-gray-300 lg:col-span-1">
        <div class="mx-3 my-3">
          <div class="relative text-gray-600">
            <!-- <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" class="w-6 h-6 text-gray-300">
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </span> -->
            <input type="search" class="block w-full py-2 px-3 pl-10 bg-gray-100 rounded outline-none" name="search"
              placeholder="Search" required />
          </div>
        </div>

        <ul class="overflow-auto h-[32rem]">
          <h2 class="my-2 mb-2 ml-2 text-lg text-gray-600">Products</h2>
          <li>


            <% variation.forEach(function(variation){ %>

              <a href="/office/edit/products/<%= variation._id %>"
                class="flex items-center px-3 py-2 text-sm transition duration-150 ease-in-out border-b border-gray-300 cursor-pointer hover:bg-gray-100 focus:outline-none">
                <% variation.image.forEach((images)=> { %>
                  <img class="object-cover w-10 h-10 rounded-full" src="/img/<%= images.imgName %>" alt="username" />
                  <% }) %>

                    <div class="w-full pb-2">
                      <div class="flex justify-between">
                        <span class="block ml-2 font-semibold text-gray-600">
                          <%= variation.pname %>-<%= variation.variationname %>
                        </span>

                        <!-- <div class="inline-block relative w-64">
                          <form action="/admin/product/status" method="POST">
                              <input type="hidden" name="userId" value="${user._id}">
                              <select name="isverified" onchange="this.form.submit()"
                                  class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                  <option value="No" <% variation.isverified === 'No' ? 'selected' : '' %>>
                                      No</option>
                                  <option value="Yes" <% variation.isverified === 'Yes' ? 'selected' : '' %>>
                                      Yes</option>
                              </select>
                          </form>
                          <div
                              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 20 20">
                                  <path
                                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                              </svg>
                          </div>
                      </div> -->

                        <% if(variation.isverified=='Yes' ){ %>
                          <span style="border: 2px solid gray;"
                            class="rounded-full block p-1 ml-2 text-sm text-gray-600">Published</span>
                          <% } else {%>
                            <span style="border: 2px solid gray;"
                              class="rounded-full block p-1 ml-2 text-sm text-gray-600">Unpublished</span>
                            <% } %>
                      </div>
                      <span class="block ml-2 text-sm text-gray-600">Status: <span class="text-gray-500">
                          <%= variation.prodStatus %>
                        </span></span>
                    </div>
              </a>

              <% }) %>

          </li>
        </ul>
      </div>
    </div>
  </div>



  <!-- <% variation.forEach(function(variation){ %>

    <a href="/office/edit/products/<%= variation._id %>">
      <div class="flex flex-col h-min w-56 p-1 border-box bg-white rounded xl m-5 cursor-pointer">

        <% variation.image.forEach((images)=> { %>
          <img class="h-max w-full rounded-md object-contain max-w-lg mx-auto" src="/img/<%= images.imgName %>"
            alt="<%= variation.category %>">
          <% }) %>

            <div class="flex border-box p-1 flex-col">
              <div class="text-center">
                <%= variation.pname %>
                  <%= variation.variationname %>
              </div>

            </div>
      </div>
    </a>
    <% }) %> -->

</section>




<!-- <script>
    $(document).ready(function() {
      let imagesPreview = function(input, placeToInsertImagePreview) {
        if (input.files) {
          let filesAmount = input.files.length;
          for (i = 0; i < filesAmount; i++) {
            let reader = new FileReader();
            reader.onload = function(event) {
              $($.parseHTML("<img>"))
                .attr("src", event.target.result)
                .appendTo(placeToInsertImagePreview);
            };
            reader.readAsDataURL(input.files[i]);
          }
        }
      };
      $("#input-files").on("change", function() {
        imagesPreview(this, "div.preview-images");
      });
    });
    </script> -->